{% extends "base.html" %} {% block content %}

<!--TODO: Display the user's name in the h1 title-->
<div class="container">
  <h1 class="title">Welcome, {{ user.name }}!</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashes">
      {% for message in messages %}
      {{ message }}
      {% endfor %}
    </div>  
    {% endif %}
  {% endwith %}
  <!--TODO: Make a GET request to the /download path-->
  <a href="{{ url_for('download', cheat_sheet='cheat_sheet')}}">Download Your File</a>
</div>
{% endblock %}
